@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-[#f3f9fc];
}
.textEffect1 > span {
  -webkit-text-stroke: 1px white;
}
.textEffect1 > span:hover {
  color: green;
}
span:has(~ span:hover) {
  color: black;
}
